<div class="clima-container"> 

    <div class="card">
        <h1 class="city">{{dadosClima()?.name}}</h1>

        <div class="temp">{{dadosClima()?.main?.temp | number: '1.0-0'}}°C</div>

        @if (dadosClima()){
            @let clima = dadosClima()!.weather[0];

            <img class="icon" [src]="'https://openweathermap.org/img/wn/' + clima.icon + '@2x.png'">
            <p class="desc">{{clima.description | titlecase }}</p>
        }
    
        <button class="button" (click)="navegarParaTelaDePesquisa()">Pesquisar</button>
    </div>

</div>