<div class="clima-container">

  <div class="card">
    @if (dadosClima()) {
      <app-nome-cidade>
        
      </app-nome-cidade>

      <div class="temp">{{ dadosClima()?.main?.temp | number: '1.0-0' }}°C</div>

      <div class="img-titulo">
        @let clima = dadosClima()!.weather[0];

        <img class="icon" [src]="'https://openweathermap.org/img/wn/' + clima.icon + '@2x.png'">
        <p class="desc">{{ clima.description | titlecase }}</p>
      </div>

      <div class="minmax">
        <span>Min {{dadosClima()?.main?.temp_min | number: '1.0-0'}}°C</span>
        <span>Max {{dadosClima()?.main?.temp_max | number: '1.0-0'}}°C</span>
      </div>

      <button (click)="navegarParaTelaDePesquisa()">Pesquisar</button>
    } @else {
      <div class="img-titulo">
        <p class="desc">Carregando ...</p>
      </div>
    }
  </div>

</div>